{% extends 'admin/master.html' %}

{% block body %}

    <h3 class="text-info text-center mt-3">Chào mừng đến với trang quản trị</h3>
    {% if current_user.is_authenticated %}
    <h4>Chào {{ current_user.name }}!</h4>
    {% else %}
    {% if err_msg %}
        <div class="alert alert-danger">
            {{ err_msg }}
        </div>
    {% endif %}

    <form method="post" action="/admin-login">
        <div class="form-group mb-3 mt-3">
             <label for="email">Tài khoản</label>
            <input type="text" class="form-control" id="email" placeholder="Nhập tài khoản" name="username">

        </div>

        <div class="form-group mt-3 mb-3">
            <label for="pwd">Mật khẩu</label>
            <input type="password" class="form-control" id="pwd" placeholder="Nhập mật khẩu" name="password">

        </div>
        <div class="form-group mt-3 mb-3">
            <button class="btn btn-info" type="submit">Đăng nhập</button>
        </div>
    </form>
    {% endif %}
{% endblock %}
